//Animation heart
.fill {
  color: #9d9d9d;
  cursor: pointer;
  &:hover {
    animation: fill 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-text-fill-color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
  }
}
.icon-heart {
display: flex;
justify-content: space-between;
align-items: center;
}

//Loadspinner//

.loadspinner {
  -webkit-animation: loadspinner 2s;
          animation: loadspinner 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background-color: rgba(10, 10, 10, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .spinner-wrapper {
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  width: 100px;
    .spinner-cover {
     background: #fff;
     border-radius: 50%;
     height: 100%;
     position: relative;
     width: 100%;
     z-index: 2;
    }
   .spinner-bar {
     -webkit-animation: spinner 2s linear infinite;
     animation: spinner 2s linear infinite;
     background: #ff79da;
     border-radius: 100% 0 0;
     height: 50%;
     left: 0;
     position: absolute;
     top: 0;
     -webkit-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
     width: 50%;
   }
  }
}
  