//Colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-color: #f6f6f6;
$white-color: #fff;
$border-contrast: #e0e0e0;
$text-grey: #333;
$text-grey-light: #888;
$linear-gradient:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);


//Animations
$spiner-bg-bk: rgba(10, 10, 10, .6);

$breakpoints:(
        tablet: 667px,
        desktop: 1080px,
        large: 1600px,
);