@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10; } }
@keyframes spinner {
  0% {
    background: #fface8;
    transform: rotate(0deg); }
  50% {
    background: #ff79da;
    transform: rotate(180deg); }
  100% {
    background: #fface8;
    transform: rotate(360deg); } }
@keyframes fill {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes grow {
  0%,100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10; } }
@keyframes spinner {
  0% {
    background: #fface8;
    transform: rotate(0deg); }
  50% {
    background: #ff79da;
    transform: rotate(180deg); }
  100% {
    background: #fface8;
    transform: rotate(360deg); } }
@keyframes fill {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes grow {
  0%,100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
.loadspinner {
  animation: loadspinner 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background-color: rgba(10, 10, 10, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999; }
  .loadspinner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .loadspinner .spinner-wrapper {
    border: 5px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 100px; }
    .loadspinner .spinner-wrapper .spinner-cover {
      background: #fff;
      border-radius: 50%;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 2; }
    .loadspinner .spinner-wrapper .spinner-bar {
      animation: spinner 2s linear infinite;
      background: #ff79da;
      border-radius: 100% 0 0;
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 50%; }

@media screen and (min-width: 1280px) {
  .full_menu {
    display: flex;
    justify-content: space-around; } }

.starter {
  animation: fadein 3s ease-in-out; }
  @media screen and (min-width: 1280px) {
    .starter {
      width: 400px; } }

.dish {
  animation: fadein 6s ease-in-out; }
  @media screen and (min-width: 1280px) {
    .dish {
      width: 400px; } }

.dessert {
  animation: fadein 9s ease-in-out; }
  @media screen and (min-width: 1280px) {
    .dessert {
      width: 400px; } }

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out; }
  .cross .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out; }

.line {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-left: 10px; }

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out; }
  .meals:hover {
    padding-right: 75px; }
  .meals:hover .cross {
    opacity: 1;
    transform: translate(-50px); }
  .meals:hover .fa-check-circle {
    transform: rotate(360deg); }

.last_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em; }

.last_line p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  @media screen and (min-width: 1280px) {
    .last_line p {
      padding-right: 20px; } }

.last_line span {
  margin-right: 5px; }

.meals h4 {
  margin: 0; }

.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out; }

.fill {
  color: black;
  cursor: pointer; }
  .fill:hover {
    animation: fill 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold; }

.meals:hover, .fa-check-circle {
  transform: rotate(360deg); }

/*# sourceMappingURL=animation.css.map */
