/* Police Générale & titre-logo*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/**Reglage général**/

body, html {
	width : 100%;
	height: 100%;
	font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #000;
    cursor: pointer;
}
li {
  list-style-type: none;
}
h3,
h4,
h6 {
	font-size: 100%;
	font-weight: normal;
	font-family: Shrikhand, Roboto, sans-serif;
}
/*Loadspinner*/
.loadspinner /*
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    animation: fade-out 0.4s ease-in-out both;
    animation-delay: 1.5s;
}
.rubik-loader {
    color:#9356DC;
}
****a finir*/

/*header*/
.header, .headerMenu {
    padding: 16px;
	box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    text-align: center;
}
.headerMenu {
    display: flex;
    justify-content: space-around;
}
.headerMenu a {
    position: absolute;
    left: 32px;
    width: 32px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    color: #000;
}
/* image cover-Menu*/
.cover-img img {
    max-width: 100%;
    max-height: 320px;
    width: 100%;
    object-fit: cover;
}
.cover-img {
	padding : 0;
	margin : 0 ;
}

main {
	display: grid;
    grid-template-columns: 1fr;
}
/*Localisation*/
.location {
    display: flex;
	background-color: #e6e6e6;
    align-items: center;
	padding : 16px;
	justify-content: center;
}
.location .fas {
	padding: 8px 16px;
}
.location .input-field input {
    background-color: transparent;
    border: 0;
}
.location .input-field input::placeholder{
	font-weight: 900;
	color : black ;
}

/*Section explore restaurants*/
.explore-restaurants {
	background-color: #f3f3f3;
    padding: 22px;
    text-align: center;
}
.explore-restaurants h1 {
	padding-bottom: 8px;
	font-weight: bold;
}
.explore-restaurants h2 {
	color: #707070;
    font-size: 18px ;
    font-weight: normal;
}
button {
    border: none;
    padding: 16px;
    margin: 32px 0;
    font-size: large;
    color: white;
    background-image: linear-gradient(-10deg, #9356DC, #FF79DA);
    border-radius: 50px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    transition: background-image 2s linear 2s, box-shadow 1s;
}
/*operation*/

.operation{
    display: flex;
    padding: 15px;
    max-width: 1280px;
    margin: 0 ;
    position: relative;
    flex-direction: column;  
}
.operating-bar{
    margin: 0;
    padding: 0;
    counter-reset: compteListe;
}
.bar {
    padding: 24px;
    margin: 16px 0 16px 12px;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 13%);
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
}
.bar::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -.75rem;
}
.bar:first-child {
    margin-top: 0;
}
.tuto__icon {
    margin-right: 1rem;
    color: #7e7e7e;
}
.fa-mobile-alt:before {
    content: "\f3cd";
}
/*Restaurants*/

@media screen and (min-width: 768px) {
.restaurants-list{
    display: flex;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}
.card-cover {
        width: 40%;
      }
}
h3 {
  padding: 30px 0px 0px 20px;
  font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 18px;
    color: #000;
    width: 100%;
    cursor: pointer;
    flex-flow: column wrap;
}
.card-cover{
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  position: relative;
  background: #fff;
}
.card-cover img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
  max-height: 220px;
}

.icon-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
figcaption p {
    font-weight: 300;
    font-size: 1.1rem;
    margin-left: 0;
    margin:0px;
}
.btn-cover .new{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #99e2d0;
    color: #2c9c81;
    padding: 3px 10px;
    font-weight: bold;
    z-index: 999;
}
.card-cover figure {
  margin: 0;
}

.card-cover figcaption {
  margin: 0;
  padding: 10px;
}
.fill {
	color: black;
	cursor: pointer;
	&:hover {
	  animation: fill 0.3s ease-in-out;
	  display: inline-block;
	  opacity: 1;
	  background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
	  background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color:transparent;
	  font-weight: bold;
}
/********Footer*******/
footer {
    color: white;
    background-color: #414141;
	padding: 16px 20px;
}
footer h5 {
	font-family: "Shrikhand", cursive;
	font-size: 16px;
	margin: 15px 0;
}
footer a {
    color: white;
    display: flex;
    align-items: center;
}
footer a i {
    width: 16px;
    padding-right: 16px;
	margin : 0;
}
footer a i + p {
    font-weight: bolder;
}
footer p {
    padding: 0.25em 0;
	margin : 0;
}